.app-header {
  background: #f3f3f3;
  border-top: 3px solid #009a61;
  height: 60px;

  .wrap {
    width: 980px;
    height: 100%;
    margin: 0 auto;

    .title {
      float: left;
      height: 100%;

      img {
        height: 50%;
        padding-top: 15px;
      }


    }

    .nav {
      float: left;
      margin-left: 10px;

      a {
        padding: 0 15px;
        color: #666;
        line-height: 60px;

        &.active {
          color: #009a61;
          font-weight: 500;
        }
      }
    }
  }
}